/* RENTING ARTICLE STYLE */
.random .title {
  padding-bottom: 1.5em;
}

.random .cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2em;
}

.random img {
  object-fit: cover;
  max-height: 100px;
  width: 100%;
  border-radius: 1.2em 1.2em 0 0;
}

.random .card h4 {
  padding: 0.5em 0 0.2em 0.75em;
  font-size: 1.07em;
}

.random p, .random .rating {
  padding: 0.1em 0.75em;
}

.random h3 {
  padding-top: 2.5em;
}

/* PHONE SCREEN */
@media screen and (max-width: 800px)
{
  .random {
    height: 100%;
    background-color: white;
    padding: 3em 1.5em 2em 1.5em;
  }
  
  .random .title {
    justify-self: flex-end;
  }
  
  .random .cards {
    font-size: 15px; 
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    justify-content: space-between;
  }

  .random .card {
    background-color: white;
    margin: 0.5em 0;
    /* width: 100%; */
  }
}
/* END RENTING ARTICLE */