@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET DEFAULT CSS SETTINGS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}
/* END RESET */

html {
  font-family: Raleway;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-gap: 10px; */
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: 
    "hd"
    "main"
    "ft";
}

header {
  grid-area: hd;
}
footer {
  grid-area: ft;
}
main {
  grid-area: main;
}

/* HEADER STYLE */
header {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-areas: "logo nav subscribe";
}

#logo {
  grid-area: logo;
  padding: 2em 0 0 4em;
}

#subscribe {
  grid-area: subscribe;
  padding: 2.5em 4em 0 2em;
  color: #0065FC;
  font-weight: bold;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  padding: 2.5em 0;
  width: 100%;
  text-align: center;
}

nav a:active {
  color: #0065FC;
  padding-top: 2.3em;
  border-top: #0065FC 3px solid;
}

/* PHONE SCREEN */

@media screen and (max-width: 800px)
{
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 2);
    grid-template-areas:  "logo subscribe"
                          "nav nav";
  }
  
  #logo {
    padding: 1.5em 0 0 1.5em;
  }
  
  #subscribe {
    padding: 2.5em 1.25em 0 0;
    text-align: end;
  }

  nav {
    justify-content: space-around;
  }

  nav a {
    width: 100%;
    border-bottom: #F2F2F2 3px solid;
    padding: 1.5em 0 1em 0;
  }
   
  nav a:active {
    border-bottom: #0065FC 3px solid;
    padding-top: 1.5em;
    border-top: none;
  }
}

/* END HEADER STYLE */

section {
  padding: 3.5em;
}

@media screen and (max-width: 800px)
{
  section {
    padding: 0;
  }
}

.choices {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "article aside";
}

article {
  grid-area: article;
}

aside {
  grid-area: aside
}

@media screen and (max-width: 800px) {
  .choices {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:  "aside"
                          "article";
  }
}

/* RENTING ARTICLE STYLE */

article {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  padding: 3em 2em;
}

article .cards {
  padding: 1em 0;
  width: 100%;
}

article .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

article .card {
  background-color: white;
  height: 50%;
  width: 30%;
  border-radius: 0.75em;
  margin: 1em 0;
  padding: 0.3em 0.3em 0.7em 0.3em;
  font-size: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

article .card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

article img {
  object-fit: cover;
  max-height: 100px;
  width: 100%;
  border-radius: 0.75em 0.75em 0 0;
}

article .card h4 {
  padding: 0.3em 0.75em;
  font-size: 1.2em;
}

article p,.rating {
  padding: 0.25em 1em;
}

article .rating {
  display: flex;
}

.rating .positive {
  color:#0065FC
}

.rating .negative {
  color: #F2F2F2;
}

/* PHONE SCREEN */
@media screen and (max-width: 800px)
{
  article {
    background-color: white;
    padding: 2em 1.5em;
  }

  article .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  article .card {
    background-color: white;
    margin: 0.5em 0;
    width: 100%;
  }
}
/* END RENTING ARTICLE */

/* ASIDE STYLING */
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F2F2F2;
  border-radius: 0.75em;
  margin-left: 2em;
  padding: 3em 2em 1em 2em;
}

aside .title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

aside .title i {
  font-size: 1.25em;
}

aside .cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside .card {
  background-color: white;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: auto auto auto auto;
  /* display: flex; */
  width: 100%;
  border-radius: 0.75em;
  margin: 1em 0;
  padding: 0.3em 0.3em;
  font-size: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

aside .card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

aside img {
  grid-column: 1;
  grid-row: 1 / 5;
  object-fit: cover;
  height: 120px;
  width: 100%;
  border-radius: 0.75em 0 0 0.75em;
}

aside .card h4 {
  grid-row: 1;
  padding: 0.5em 0 0.3em 1.5em;
  font-size: 1.2em;
}

aside p {
  grid-row: 2;
  padding: 0.25em 1.7em;
}

aside .rating {
  grid-row: 4;
  padding: 0 0 0.75em 1.7em;
  display: flex;
}

@media screen and (max-width: 800px)
{
  aside {
    padding: 2em 1.5em;
    margin-left: 0;
    border-radius: 0;
  }

  aside .card {
    margin: 0.5em 0;
  }

  aside img {
    height: 140px;
  }
}

/* END ASIDE */
#rent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#activities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* FOOTER STYLE */
footer {
  background-color: #F2F2F2;
  display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-areas:  "about quality assistance";
  align-items: center;
  padding: 3em 3em;
  font-size: 13px;
}

footer h3 {
  padding-bottom: 1em;
}

footer p {
  padding-bottom: 0.75em;
}

footer .about {
  grid-area: about;
}

footer .quality {
  grid-area: quality;
}

footer .assistance {
  grid-area: assistance;
}

@media screen and (max-width: 800px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 1em 2em;
  }
  
  footer h3 {
    padding-top: 2em;
  }
}


