@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET DEFAULT CSS SETTINGS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

a {
  color: black;
  text-decoration: none; /* no underline */
  cursor: pointer;
}
/* END RESET */

html {
  font-family: Raleway;
  width: 100%;
  height: 100%;
}

body {
  font-size: 14px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  grid-template-areas: 
    "hd"
    "main"
    "ft";
}

header {
  grid-area: hd;
}

footer {
  grid-area: ft;
}

main {
  grid-area: main;
}

/* HEADER STYLE */
header {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-areas: "logo nav subscribe";
}

#logo {
  grid-area: logo;
  padding: 1.5em 0 0 1.75em;
}

#subscribe {
  grid-area: subscribe;
  padding: 2.5em 4em 0 2em;
  color: #0065FC;
  font-weight: bold;
  cursor: pointer;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  padding: 2.5em 0;
  width: 100%;
  text-align: center;
}

nav a:hover {
  color: #0065FC;
  padding-top: 2.3em;
  border-top: #0065FC 3px solid;
}

/* PHONE SCREEN */

@media screen and (max-width: 800px)
{
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 2);
    grid-template-areas:  "logo subscribe"
                          "nav nav";
  }
  
  #logo {
    padding: 1.5em 0 0 1.5em;
  }
  
  #subscribe {
    padding: 2.5em 1.25em 0 0;
    text-align: end;
  }

  nav {
    justify-content: space-around;
  }

  nav a {
    width: 100%;
    border-bottom: #F2F2F2 3px solid;
    padding: 1.5em 0 1em 0;
  }
   
  nav a:hover {
    border-bottom: #0065FC 3px solid;
    padding-top: 1.5em;
    border-top: none;
  }
}

/* END HEADER STYLE */

#renting-search {
  padding: 0 3.5em 3.5em 3.5em;  
}

@media screen and (max-width: 800px)
{
  #renting-search {
    padding: 2em 0;  
  }
}

.search h2 {
  padding-bottom: 0.3em;
}

.search {
  padding: 1em 0 2em 0;
}

.town {
  padding-top: 1em;
  display: flex;
  align-items: center;
}

.town .loop {
  font-weight: 600;
  font-size: 1.1em;
  background-color: #0065FC;
  color: white;
  padding: 0.8em 1em;
  border-radius: 0 0.75em 0.75em 0;
  border: none;
  cursor: pointer;
  grid-area: search;
}

.town .loop i {
  display: none;
}

.town .location {
  font-size: 1.1em;
  background-color: #F2F2F2;
  padding: 0.85em 1.1em;
  border-radius: 0.75em 0 0 0.75em;
}

.town input {
  border-top: #F2F2F2 solid 2px;
  border-bottom: #F2F2F2 solid 2px;
  border-right: none;
  border-left: none;
  padding: 0.7em 1.5em;
  font-weight: 600;
  font-size: 1.1em;
  color: black;
}

@media screen and (max-width: 800px)
{
  .town {
    padding: 2em 0 1em 0;
  }
  
  .town .loop i {
    display:inherit;
    background-color: #0065FC;
    color: white;
    padding: 0.1em;
  }

  .town .loop {
    border-radius: 0.75em;
    margin-right: 1em;
  }

  .town .loop p {
    display: none;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.options {
  padding: 2em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filters>h3 {
  padding-right: 1em;
}

.filter {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "i name";
  align-items: center;
  margin: 0 1em;
  cursor: pointer;
  border-radius: 5em;
  border: #F2F2F2 solid 2px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
}

.filter h3 {
  grid-area: name;
  padding: 0 1em;
}

.filter i {
  grid-area: i;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 100%;
  padding: 1em;
}

.filter:hover {
  grid-template-areas: "name i";
  color: #DEEBFF;
  background-color: #0065FC;
  border-left: #F2F2F2 solid 2px;
  border-radius: 5em;
}

.info i {
  border: 2px solid #F2F2F2;
  padding: 0.40em 0.65em;
  margin-right: 1em;
  font-size: 0.75em;
  border-radius: 100%;
  color: #0065FC;
}

@media screen and (max-width: 800px)
{
  .search {
    padding: 0 1.5em;
  }

  .filters {
    padding-top: 1em;
  }

  .options {
    padding: 0.5em 0;
  }

  .filter {
    margin: 0.5em 0.3em 0.5em 0;
  }

  .info {
    padding: 1.5em 0;
    display: flex;
    align-items: flex-start;
  }

}

@media screen and (max-width: 800px)
{
  section {
    padding: 0;
  }
}

.renting-founded {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "random bests";
  grid-gap: 2.5em;
}

.random {
  grid-area: random;
}

.bests {
  grid-area: bests;
}

@media screen and (max-width: 800px) {
  .renting-founded {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    grid-template-areas:  "bests"
                          "random";
  }
}

/* RENTING AND BESTS COMMON STYLE */
.random, .bests {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  border-radius: 1.5em;
  padding: 2.5em 2.5em 1.5em 2.5em;
}

.random .card, .bests .card {
  background-color: white;
  border-radius: 1.3em;
  margin: 1em 0;
  padding: 0.3em 0.3em ;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.random .card:hover, .bests .card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cards {
  font-size: 13px;
}

.card h4 {
  font-size: 1.07em;
}

.rating i {
  font-size: 0.8em
}

.random .rating {
  display: flex;
}

.rating .positive {
  color:#0065FC
}

.rating .negative {
  color: #F2F2F2;
}
/* END COMMON STYLE */

/* RENTING ARTICLE STYLE */
.random .cards {
  padding: 1em 0;
  width: 100%;
}

.random .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.random .card {
  height: 50%;
  width: 30%;
}

.random img {
  object-fit: cover;
  max-height: 100px;
  width: 100%;
  border-radius: 1.2em 1.2em 0 0;
}

.random .card h4 {
  padding: 0.5em 0 0.2em 0.75em;
  font-size: 1.07em;
}

.random p,.rating {
  padding: 0.1em 0.75em;
}

.random h3 {
  padding-top: 1em;
}

/* PHONE SCREEN */
@media screen and (max-width: 800px)
{
  .random {
    background-color: white;
    padding: 2em 1.5em;
  }

  .random .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .random .card {
    background-color: white;
    margin: 0.5em 0;
    width: 100%;
  }
}
/* END RENTING ARTICLE */

/* ASIDE STYLING */
.bests .title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.bests .title i {
  font-size: 1.5em;
}

.bests .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bests .card {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: auto auto auto auto;
  padding-right: 1em;
}

.bests img {
  grid-column: 1;
  grid-row: 1 / 5;
  object-fit: cover;
  height: 120px;
  width: 100%;
  border-radius: 1.2em 0 0 1.2em;
}

.bests .card h4 {
  grid-row: 1;
  padding: 0.5em 0 0.3em 1.5em;
}

.bests p {
  grid-row: 2;
  padding: 0.25em 1.7em;
}

.bests .rating {
  grid-row: 4;
  padding: 0 0 0.75em 1.7em;
  display: flex;
}

@media screen and (max-width: 800px)
{
  .bests {
    padding: 2em 1.5em;
    margin-left: 0;
    border-radius: 0;
  }

  .bests .card {
    margin: 0.5em 0;
  }

  .bests img {
    height: 140px;
  }
}

/* END ASIDE */

/* ACTIVITIES STYLE */
#activities {
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 0 4em;
}

#activities h2 {
  padding-bottom: 1.5em;
}

#activities .cards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1em);
  grid-template-areas: 
  "a b d e"
  "a b d e"
  "a b d e"
  "a b d e"
  "a b d f"
  "a c d f"
  "a c d f"
  "a c d f";
  grid-gap: 3em;
}

#activities .card {
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 1.3em;
  display: grid;
  grid-template-rows: minmax(60%, 90%) 3.5em;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

#activities .card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#activities .card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-row: 1;
  border-radius: 1.3em 1.3em 0 0;
}

#activities h4 {
  grid-row: 2;
  padding: 1em;
}

@media screen and (max-width: 800px) {
  #activities {
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
  }

  #activities .cards {
    display: flex;
    flex-direction: column;
  }

  #activities .cards .card img {
    height: 140px;
  }
}


/* END ACTIVITIES */

/* FOOTER STYLE */
footer {
  bottom: 0;
  background-color: #F2F2F2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:  "about quality assistance";
  align-items: center;
  padding: 3em 3em;
}

footer h3 {
  padding-bottom: 1em;
}

footer p {
  padding-bottom: 0.75em;
}

footer .about {
  grid-area: about;
}

footer .quality {
  grid-area: quality;
}

footer .assistance {
  grid-area: assistance;
}

@media screen and (max-width: 800px) {
  footer {
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  footer h3 {
    padding-top: 2em;
  }
}


